<div class="left_content">
      <div class="title"><span class="title_icon"><img src="images/bullet1.gif" alt="" /></span>Special gifts</div>
      
      <%= render @gifts %>

      <div class="pagination"> <span class="disabled"><<</span><span class="current">1</span><a href="http://www.free-css.com/">2</a><a href="http://www.free-css.com/">3</a><a href="http://www.free-css.com/">10</a><a href="http://www.free-css.com/">11</a><a href="http://www.free-css.com/">>></a> </div>
      <div class="clear"></div>
    </div>