<div class="title"><span class="title_icon"><img src="images/bullet1.gif" alt="" /></span>My cart</div>
      <div class="feat_prod_box_details">
        <table class="cart_table">
          <tr class="cart_title">
            <td>Item pic</td>
            <td>Product name</td>
            <td>Unit price</td>
            <td>Qty</td>
            <td>Total</td>
          </tr>
          <%= render cart.line_items %>
          <tr>
            <td colspan="4" class="cart_total"><span class="red">TOTAL:</span></td>
            <td><%= number_to_currency cart.total_price %></td>
          </tr>
        </table>
        
        <%= button_to "Checkout", new_order_path, :method => :get %>
        <%= button_to "Empty Cart", @cart, :method => :delete %>
        </div>
      <div class="clear"></div>