<div class="footer">
    <div class="left_footer"><img src="/images/footer_logo.gif" alt="" /><br />
      <a href="http://csscreme.com"><img src="/images/csscreme.gif" alt="" border="0" /></a></div>
    <div class="right_footer"> <a href="http://www.free-css.com/">home</a> <a href="http://www.free-css.com/">about us</a> <a href="http://www.free-css.com/">services</a> <a href="http://www.free-css.com/">privacy policy</a> <a href="http://www.free-css.com/">contact us</a> </div>
  </div>